body {
    font-family: Arial, sans-serif;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

#suggestions {
    margin-top: 10px;
}

.breed {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.breed img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.breed p {
    margin: 0;
}
